@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab:wght@700&display=swap');
*{
    box-sizing: border-box;
    margin: 0 ;
    padding: 0 ;
}
.container{
    width: 336px;
    height: 100%;
    margin: 100px auto;
    border: 1px solid #C4C4C4  ;
}
.yellow{
    width: 334px;
    height: 28px;
    background-color: #FFDC40;
}
.main{
    width: 336px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.toDoList{
    width: 198px;
    height: 34px;
    margin-top: 13px;
    font-weight: 900;
    font-size: 26px;
    line-height: 30.47px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #000000;
    font-style: normal;
}
.sortButtonDiv{
    width: 336px;
    height: 15px;
    margin-top: 16px;
}
.sortButton{
    margin-left: 281px;
}
.inputDivs{
    list-style-type: none;
    margin-top: 11px;
    width: 288px;
    height: 100%;
    position: relative;
    border:  1px solid #C4C4C4;
    border-radius: 10px;
}
.deleteButton{
    position: absolute;
    left: 250px;
    top: 10px;
    background-color: #C4C4C4;
    width: 20px;
    height: 20px;
    display: flex;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 71px;
    justify-content: center;
    align-items: center;
    transition: transform .7s ease-in-out;
}
input, .newInput{
    width: 286px;
    height: 40px;
    border: none;
    border-radius: 10px;
    margin-bottom: 1px;
}
.buttonAdd{
    width: 150px;
    height: 42px;
    margin-top: 18px;
    border-radius: 71px;
    position: relative;
    margin-bottom: 19px;
}
.rightButtonAdd{
    width: 150px;
    height: 42px;
    background: #833AE0;
    border-radius: 71px;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 16.41px;
    font-weight: 400px;
    text-align: center;
    border: none;
}
.leftButtonAdd{
    position: absolute;
    width: 42px;
    height: 42px;
    background-color: #9953F1;
    border-radius: 71px;
    border: #9953F1 0px solid ;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 16.41px;
    font-weight: 400px;
    text-align: center;
}
.newDeleteButton{
    position: absolute;
    left: 250px;
    margin-top: 10px;
    border: none;
    height: 20px;
    width: 20px;
    border: 1px solid #C4C4C4;
    border-radius: 71px;
    transition: transform .7s ease-in-out;
    background-color: #C4C4C4
}
.newDeleteButton:hover { transform: rotate(360deg); }
.plus { transition: transform .7s ease-in-out; }
.p:hover { transform: rotate(360deg); }
.X { width: 10px; height: 10px; }
.newInput:hover { border: 5px solid #FFDC40; border-radius: 10px; }
.input:hover { border: 5px solid #FFDC40; }
.deleteButton:hover { transform: rotate(360deg); }
.sortButtonz { margin-left: 281px; display: none; }